<div class="card-body p-5">
  <h3 class="mb-5 text-center">Regístrate</h3>
  <form [formGroup]="signUpForm">
     
    <div class="form-floating mb-3">
      <input type="text" id="fullName" class="form-control"
              formControlName="fullName" placeholder="Nombre completo">
      <label for="fullName">Nombre Completo</label>
      <div class="text-danger small mt-1" *ngIf="fullName?.invalid && (fullName?.touched || fullName?.dirty)">
        <div *ngIf="fullName?.errors?.['required']">El nombre es obligatorio.</div>
        <div *ngIf="fullName?.errors?.['pattern']">Solo se permiten letras.</div>
      </div>
    </div>

    <div class="form-floating mb-4">
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
      <label for="email">Email</label>
      <div class="text-danger small mt-1" *ngIf="email?.invalid && (email?.touched || this.signUpForm.get('email')?.dirty)">
        <div *ngIf="email?.errors?.['required']">El email es obligatorio.</div>
        <div *ngIf="email?.errors?.['email']">El email no es válido.</div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="email"
        id="confirmEmail"
        class="form-control"
        formControlName="confirmEmail"
        placeholder="Confirm Email"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        (paste)="preventPaste($event)"
      >
      <label for="confirmEmail">Confirmar Email</label>

      <div class="text-danger small mt-1" *ngIf="confirmEmail?.invalid && (confirmEmail?.touched || confirmEmail?.dirty)">
        <div *ngIf="confirmEmail?.errors?.['required']">Debes confirmar tu email.</div>
      </div>
    
      <div class="text-danger small mt-1" *ngIf="signUpForm.hasError('emailsMismatch') && confirmEmail?.touched">
        Los correos no coinciden.
      </div>
    </div>

    <div class="form-floating mb-3 position-relative">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        class="form-control pe-5"
        formControlName="password"
        placeholder="********"
        autocomplete="new-password"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        (paste)="preventPaste($event)"
      >
      <label for="password">Contraseña</label>

      <mat-icon
        (click)="togglePassword()"
        class="password-toggle-icon"
      >
        {{ showPassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    
      <div
        class="text-danger small mt-1"
        *ngIf="password?.invalid && password?.touched && !password?.pristine"
      >
        <div *ngIf="password?.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div *ngIf="password?.errors?.['pattern']">
          Debe tener al menos una mayúscula, 2 números y mínimo 8 caracteres.
        </div>
      </div>
    </div>

  </form>
  
  <button class="btn btn-success btn-lg w-100 d-flex justify-content-center align-items-center" 
          type="submit" [disabled]="!signUpForm.valid || loading" 
          (click)="signUp()">
    <mat-spinner *ngIf="loading" diameter="35" strokeWidth="3" class="white-spinner"></mat-spinner>
    <div *ngIf="!loading">Sign Up</div>
  </button>
  <p class="mt-4 small text-muted text-center">
    ¿Ya tienes cuenta?
    <a routerLink="/sign-in">Inicia sesión</a>
  </p>
</div>