<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <button class="btn" type="button">
      <i class="fas fa-bars"></i>
    </button>
    <span class="navbar-brand mx-auto fw-bold fs-5" style="cursor: pointer;" (click)="goToHome()">CourseYa</span>
    <div class="d-flex align-items-center gap-3">
      <!-- Carrito -->
      <a href="#" class="text-dark">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <!-- Notificaciones -->
      <a href="#" class="position-relative text-dark">
        <i class="fas fa-bell"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          1
        </span>
      </a>
      <!-- Botón avatar con mat-menu -->
      <button mat-button [matMenuTriggerFor]="avatarMenu" class="p-0 m-0 avatar-button">
        <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center avatar-content">
          <img *ngIf="profilePictureUrl"
               [src]="profilePictureUrl"
               alt="Avatar"
               class="avatar-img">
          <div *ngIf="!profilePictureUrl" class="avatar-letter">
            {{ nameInitial }}
          </div>
        </div>
      </button>
      <mat-menu #avatarMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon style="color: black;">account_circle</mat-icon>
          Mi perfil
        </button>
      
        <button mat-menu-item (click)="goToSettings()">
          <mat-icon style="color: black;">settings</mat-icon>
          Configuración
        </button>
      
        <mat-divider></mat-divider>
      
        <button mat-menu-item (click)="logout()">
          <mat-icon style="color: black;">logout</mat-icon>
          Cerrar sesión
        </button>
      </mat-menu>
    </div>
  </div>
</nav>