<div class="card-body p-5">
  <h3 class="mb-5 text-center">Sign Up</h3>
  <form [formGroup]="signUpForm">
    <div class="form-floating mb-4">
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
      <label for="email">Email</label>
      <div class="text-danger small mt-1" *ngIf="email?.invalid && (email?.touched || this.signUpForm.get('email')?.dirty)">
        <div *ngIf="email?.errors?.['required']">El email es obligatorio.</div>
        <div *ngIf="email?.errors?.['email']">El email no es válido.</div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="email" id="confirmEmail" class="form-control"
              formControlName="confirmEmail" placeholder="Confirm Email">
      <label for="confirmEmail">Confirmar Email</label>
      <div class="text-danger small mt-1" *ngIf="confirmEmail?.invalid && (confirmEmail?.touched || confirmEmail?.dirty)">
        <div *ngIf="confirmEmail?.errors?.['required']">Debes confirmar tu email.</div>
      </div>
      <div class="text-danger small mt-1" *ngIf="signUpForm.hasError('emailsMismatch') && confirmEmail?.touched">
        Los correos no coinciden.
      </div>
    </div>
  
    <div class="form-floating mb-3">
      <input type="text" id="fullName" class="form-control"
              formControlName="fullName" placeholder="Nombre completo">
      <label for="fullName">Nombre Completo</label>
      <div class="text-danger small mt-1" *ngIf="fullName?.invalid && (fullName?.touched || fullName?.dirty)">
        <div *ngIf="fullName?.errors?.['required']">El nombre es obligatorio.</div>
        <div *ngIf="fullName?.errors?.['pattern']">Solo se permiten letras.</div>
      </div>
    </div>

  </form>
  
  <button class="btn btn-success btn-lg w-100" type="submit" [disabled]="!signUpForm.valid" (click)="preSignUp()">Sign Up</button>
  <p class="mt-4 small text-muted text-center">
    ¿Ya tienes cuenta?
    <a routerLink="/sign-in">Inicia sesión</a>
  </p>
</div>